@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.navbar {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fafafa;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
}

.navbar .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.navbar .logo img {
  width: 2em;
  height: 2em;
  border-radius: 5em;
}

.navbar .logo h1 {
  color: black;
  font-size: 2em;
  padding-bottom: 0.16em;
  margin-left: 0.2em;
}

.navbar button {
  float: right;
  display: none;
  border: none;
  background-color: #3a3a3a;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.11);
  padding: 0.5em;
  border-radius: 0.25em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  font-size: 1.4em;
  font-weight: 800;
  color: white;
}

.navbar button:hover {
  background-color: #c8c8c8;
  color: #272727;
}

.navbar button:active {
  background-color: #e6e6e6;
  color: black;
  -webkit-transition: none;
  transition: none;
}

.navbar ul {
  display: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.navbar ul a {
  text-decoration: none;
  font-size: 1.4em;
  font-weight: 800;
  padding-left: 1em;
  padding-right: 1em;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: black;
}

.navbar ul a:hover {
  color: #00858f;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footer {
  background-color: #f0f0f0;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
  height: 2em;
  text-align: center;
}

.footer p {
  padding-top: 0.5em;
}

.mobile-nav {
  background-color: #e7e7e7;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
  width: 30vh;
  height: 100vh;
  position: fixed;
  right: -30vh;
}

.mobile-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin-top: 6em;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-nav ul a {
  text-decoration: none;
  font-size: 1.4em;
  font-weight: 800;
  padding-top: 1em;
  padding-bottom: 1em;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: black;
}

.mobile-nav ul button {
  border: none;
  background-color: #3a3a3a;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.11);
  padding: 0.5em;
  border-radius: 0.25em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  font-size: 1.4em;
  font-weight: 800;
  color: white;
  position: fixed;
  bottom: 0;
  margin-bottom: 1em;
}

.mobile-nav ul button:hover {
  background-color: #c8c8c8;
  color: #272727;
}

.mobile-nav ul button:active {
  background-color: #e6e6e6;
  color: black;
  -webkit-transition: none;
  transition: none;
}

.mobile-nav ul a:hover {
  color: #00858f;
}

.menu-button {
  z-index: 9999;
  position: fixed;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.menu-button-burger {
  z-index: 9999;
  width: 50px;
  height: 6px;
  background: black;
  border-radius: 5px;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.menu-button-burger::before,
.menu-button-burger::after {
  z-index: 9999;
  content: '';
  position: absolute;
  width: 50px;
  height: 6px;
  background: black;
  border-radius: 5px;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.menu-button-burger::before {
  z-index: 9999;
  -webkit-transform: translateY(-16px);
          transform: translateY(-16px);
}

.menu-button-burger::after {
  -webkit-transform: translateY(16px);
          transform: translateY(16px);
}

.menu-button.open .menu-button-burger {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.menu-button.open .menu-button-burger::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu-button.open .menu-button-burger::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media only screen and (min-width: 600px) {
  .menu-button {
    display: none;
  }
  .navbar ul, .navbar button {
    display: initial;
  }
  .mobile-nav {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */